body {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

.border {
    padding: 1vh;
    border-color: lightgray;
}

.hello {
    background-color: rgb(70, 85, 100);
    color: lightgray;
}

.technology-row {
    padding-left: 5vw;
    padding-right: 5vw;
}

.fa-main-icon {
    font-size: 25vh;
}

.my-image {
    background-image: url('assets/images/me.jpg');
}

.full-width-image {
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    top: 0px;
}

@media (max-width: 991.98px) {
    .full-width-image {
        min-height: 50vh;
    }
    .mobile-first {
        order: -1;
    }
    .fa-main-icon {
        font-size: 10vh;
    }
}

.vertical-align {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.personal-info {
    background-color: #9b1f35;
    color: white;
    padding: 20px;
}

.project-card {
    color: #4F6632;
    border-radius: 0;
}

.row.justify-content-around {
    padding-bottom: 1vh;
}

a.project-link {
    text-decoration: none;
    background-color: #4F6632;
}

a.project-link:hover {
    color: white;
    background-color: rgba(79, 102, 50, 0.90);
}

.programming-info {
    background-color: #4F6632;
    color: white;
    padding: 20px;
}

.other-info {
    background-color: #6c2490;
    color: white;
    padding: 20px;
}

.contact-info {
    background-color: #0b0313;
    color: white;
    padding: 20px;
}

.music-info {
    background-color: #163a96;
    color: white;
    padding: 20px;
}

a {
    color: white;
    text-decoration: underline;
}

h1 > a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}