:root {
    --dramatic-black: #0b0313;
    --dramatic-green: #4F6632;
    --dramatic-navy: #163a96;
    --dramatic-purple: #6c2490;
    --dramatic-red: #9b1f35;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    color: white;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

.dramatic-green {
    color: var(--dramatic-green);
}

.bg-dramatic-black {
    background-color: var(--dramatic-black);
}

.bg-dramatic-green {
    background-color: var(--dramatic-green);
}

.bg-dramatic-navy {
    background-color: var(--dramatic-navy);
}

.bg-dramatic-purple {
    background-color: var(--dramatic-purple);
}

.bg-dramatic-red {
    background-color: var(--dramatic-red);
}

.min-w-20 {
    min-width: 20%;
}

.min-w-40 {
    min-width: 40%;
}

.min-vh-50 {
    min-height: 50vh;
}

.fa-pencil-alt {
    font-size: 25vh;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hello-section {
    background-image: url('assets/images/me.jpg');
    background-size: cover;
    background-position: left;
    font-family: 'Poppins', sans-serif;
}

.personal-section-picture {
    background-image: url('assets/images/me.jpeg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    top: 0px;
}


@media screen and (max-width: 60em) {
    .hello-section {
        background-image: url('assets/images/me_mf.jpg');
        background-position: center;
    }
    .fa-pencil-alt {
        font-size: 10vh;
    }
    .order-first-nl {
        order: -1;
    }
    .f1 {
        font-size: 2.5rem;
    }
}